<ion-header>
  <ion-toolbar>
    <ion-title>Outlets</ion-title>
    <ion-button slot="end" fill="clear" (click)="dismiss()"
      style="--padding-end: 10px;">
      <span *ngIf="functions.favorites.length === 0">Close</span>
      <span *ngIf="functions.favorites.length > 0">Done</span>
    </ion-button>
  </ion-toolbar>
</ion-header>

<ion-content>
<!-- Edit Favorites List -->

<ion-grid class="ion-list-pushed ion-grid">
  <ion-row>
    <ion-col size='12' *ngFor='let outlet of functions.outlets' class="ion-col">
      <div class="ion-item-div" style="background: {{outlet.backgroundColor}};">
        <ion-grid class="ion-no-margin ion-no-padding full-width ion-grid">
          <ion-row>
            <!-- Column -->
            <ion-col size="12" style="text-align: right;" class="ion-col">
              <ion-item style="--padding-start: 10px;" class="ion-item">
                <!-- Toggle -->
                <ion-label class="no-padding no-margin text-shadow ion-label">{{outlet.toggleName}}
                </ion-label>
                <ion-checkbox style="--background-checked: {{outlet.backgroundColor}}"
                  (ionChange)="functions.addToFavoritesList(outlet, $event)" [checked]="outlet.isFavorite" class="ion-checkbox">
                </ion-checkbox>
              </ion-item>
            </ion-col>
          </ion-row>
        </ion-grid>
      </div>
    </ion-col>
    </ion-row>
    </ion-grid>




</ion-content>
