<div>
  <ion-grid>
    <!-- Power & Input change -->
    <ion-row>
      <!-- Power button -->
      <ion-col size="6" class="ion-text-left">
        <ion-button size="small" color="danger" class="btn-round">
          <ion-icon slot="icon-only" name="power-outline"></ion-icon>
        </ion-button>
      </ion-col>

      <!-- Input change button -->
      <ion-col size="6" class="ion-text-end">
         <ion-button size="small" color="light" class="btn-round">
           <ion-icon slot="icon-only" name="enter-outline"></ion-icon>
         </ion-button>
      </ion-col>
    </ion-row>
    <!--  Power & Input change -->

    <!-- Channel & Volume control -->
    <ion-row>
      <!-- Volume UP -->
      <ion-col size="4" class="ion-text-center">
        <ion-button size="small" class="volume-up" color="light">
          <ion-icon slot="icon-only" name="volume-high"></ion-icon>
        </ion-button>
        <br />
        <!-- VOL label -->
        <ion-label class="volume-label">VOL</ion-label>
        <br />
        <!-- Volume Down -->
        <ion-button size="small" class="volume-down" color="light">
          <ion-icon slot="icon-only" name="volume-low"></ion-icon>
        </ion-button>
      </ion-col>
      <!-- Mute volume -->
      <ion-col size="4" class="remote-double-button-v-center" style="flex-direction: row;">
        <ion-button size="small" color="light" class="btn-round">
          <ion-icon slot="icon-only" name="volume-mute"></ion-icon>
        </ion-button>
      </ion-col>
      <ion-col size="4" class="ion-text-center">
        <!-- Channel UP -->
        <ion-button size="small" class="channel-up" color="light">
          <ion-icon slot="icon-only" name="add"></ion-icon>
        </ion-button>
        <br />
        <!-- CH label -->
        <ion-label class="volume-label">CH</ion-label>
        <br />
        <!-- Channel down -->
        <ion-button size="small" class="channel-down" color="light">
          <ion-icon slot="icon-only" name="remove"></ion-icon>
        </ion-button>
      </ion-col>
    </ion-row>
    <!-- Channel & Volume control -->

    <!-- Menu control & navigation -->
    <ion-row>
      <!-- Menu back -->
      <ion-col size="4" class="ion-text-center">
        <ion-button size="small" class="ion-float-start" color="light">
          <ion-icon slot="icon-only" name="return-up-back-outline"></ion-icon>
        </ion-button>
      </ion-col>
      <!-- Menu UP nav -->
      <ion-col size="4" class="ion-text-center">
        <ion-button size="small" class="ion-float-end" color="dark">
          <ion-icon slot="icon-only" name="chevron-up-outline"></ion-icon>
        </ion-button>
      </ion-col>
      <!-- Menu button -->
      <ion-col size="4" class="ion-text-center">
        <ion-button size="small" class="ion-float-end" color="light">
          <ion-icon slot="icon-only" name="menu"></ion-icon>
        </ion-button>
      </ion-col>
    </ion-row>
    <ion-row>
      <!-- Menu left nav -->
       <ion-col size="4" class="ion-text-left">
         <ion-button size="small" color="dark">
           <ion-icon slot="icon-only" name="chevron-back-outline"></ion-icon>
         </ion-button>
       </ion-col>
       <!-- OK button -->
        <ion-col size="4" class="ion-text-end">
          <ion-button size="small" color="dark">
            OK
          </ion-button>
        </ion-col>
        <!-- Menu right nav -->
       <ion-col size="4" class="ion-text-end">
         <ion-button size="small" color="dark">
           <ion-icon slot="icon-only" name="chevron-forward-outline"></ion-icon>
         </ion-button>
       </ion-col>
    </ion-row>
    <ion-row>
      <!-- Go to previous channel -->
      <ion-col size="4" class="ion-text-center">
        <ion-button size="small" color="light">
          <ion-icon slot="icon-only" name="repeat-outline"></ion-icon>
        </ion-button>
      </ion-col>
      <!-- Menu down nav -->
      <ion-col size="4" class="ion-text-center">
          <ion-button size="small" color="dark">
            <ion-icon slot="icon-only" name="chevron-down-outline"></ion-icon>
          </ion-button>
      </ion-col>
      <!-- Menu exit -->
      <ion-col size="4" class="ion-text-center">
        <ion-button size="small" color="light">
          EXIT
        </ion-button>
      </ion-col>
    </ion-row>
    <!-- END Menu control & navigation -->

    <!-- Numbers -->
    <ion-row>
      <ion-col size="4" class="ion-text-right">
        <ion-button size="large" color="light">
          1
        </ion-button>
      </ion-col>
      <ion-col size="4" class="ion-text-center">
        <ion-button size="large" color="light">
          2
        </ion-button>
      </ion-col>
      <ion-col size="4" class="ion-text-left">
        <ion-button size="large" color="light">
          3
        </ion-button>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col size="4" class="ion-text-right">
        <ion-button size="large" color="light">
          4
        </ion-button>
      </ion-col>
      <ion-col size="4" class="ion-text-center">
        <ion-button size="large" color="light">
          5
        </ion-button>
      </ion-col>
      <ion-col size="4" class="ion-text-left">
        <ion-button size="large" color="light">
          6
        </ion-button>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col size="4" class="ion-text-right">
        <ion-button size="large" color="light">
          7
        </ion-button>
      </ion-col>
      <ion-col size="4" class="ion-text-center">
        <ion-button size="large" color="light">
          8
        </ion-button>
      </ion-col>
      <ion-col size="4" class="ion-text-left">
        <ion-button size="large" color="light">
          9
        </ion-button>
      </ion-col>
    </ion-row>
    <ion-row>
       <ion-col size="4" class="ion-text-center">
         <ion-button size="small" color="light">
           <ion-icon slot="icon-only" name="apps"></ion-icon>
         </ion-button>
       </ion-col>

      <ion-col size="4" class="ion-text-center">
        <ion-button size="large" color="light">
          0
        </ion-button>
      </ion-col>
      <ion-col size="4" class="ion-text-center">
        <ion-button size="small" color="light">
          <ion-img src="../../../../assets/netflix.png"></ion-img>
        </ion-button>
      </ion-col>
    </ion-row>
    <!-- End Numbers -->
  </ion-grid>
</div>
