ion-button {
  height: 50px;
  width: 50px;
  // --border-radius: 30px;
  margin: 0;
  --background-activated: white !important;

  button {
    padding: 0;
  }

}

.volume-up {
  --border-radius: 30px 30px 0 0;

  .md {
    --box-shadow: none;
  }
}

.volume-down {
  --border-radius: 0 0 30px 30px;
  margin-top: 0;
}

.volume-label {
  width: 50px;
  background: var(--ion-color-light);
  display: inline-block;
}

.channel-up {
  --border-radius: 30px 30px 0 0;
  margin-bottom: 0;
}

.md {
  .channel-up {
    --box-shadow: none;
  }

  .channel-down {
    --box-shadow: 0 3px 1px -2px rgba(0, 0, 0, 0.2),
      0 2px 2px 0 rgba(0, 0, 0, 0.14);
  }

  .volume-up {
    --box-shadow: none;
  }

  .volume-down {
    --box-shadow: 0 3px 1px -2px rgba(0, 0, 0, 0.2),
      0 2px 2px 0 rgba(0, 0, 0, 0.14);
  }
}

.channel-down {
  --border-radius: 0 0 30px 30px;
  margin-top: 0;
}

.remote-single-button-v-center {
  align-items: center;
  display: flex;
  justify-content: center;
}

.remote-double-button-v-center {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}
