<ion-header>
  <ion-toolbar>
    <ion-title>Item action plan</ion-title>

    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
<ion-list>
  <ion-list-header>
    <ion-label>Schedule</ion-label>
  </ion-list-header>

   <ion-item>
     <ion-label>Start Time</ion-label>
     <ion-datetime display-format="h:mm A" picker-format="h:mm A" value="1990-02-19T07:43Z"></ion-datetime>
   </ion-item>
   <ion-item>
     <ion-label>End Time</ion-label>
     <ion-datetime display-format="h:mm A" picker-format="h:mm A" value="1990-02-19T07:43Z"></ion-datetime>
   </ion-item>
</ion-list>

 <ion-list>
   <ion-list-header>
     <ion-label>
       Button color
     </ion-label>
   </ion-list-header>
   <ion-item>
     <ion-input clearInput value="Clear" type="color"></ion-input>
   </ion-item>
 </ion-list>
</ion-content>
