ion-toggle {
  --background: rgba(10, 10, 10, 0.35);
  --background-checked: transparent;
  --border-radius: 20px;
  width: 37px;
  height: 37px;
  --handle-height: 33px;
  --handle-width: 33px;
  --handle-spacing: 2px;
  // Handle
  --handle-background-checked: rgba(255, 255, 255, 1);
  --handle-background: rgba(10, 10, 10, 0.35);
  //--handle-box-shadow:  0px 0px 10px 5px rgba(0, 0, 0, 0.5);
  //------------------
  overflow: visible;
  padding: 0;
  margin: 10px 10px 0 0;
  border-radius: 20px;
  -webkit-transition: all 0.25s 0s ease;
  -moz-transition: all 0.25s 0s ease;
  -o-transition: all 0.25s 0s ease;
  transition: all 0.25s 0s ease;
  //--handle-background-checked: transparent url(/assets/icon/light.png) no-repeat center / contain;
}

.ion-toggle-all {
  padding: 0;
  margin: 0px 20px 0 0;
}

ion-toggle.toggle-checked {
  --handle-box-shadow: 0px 0px 10px 0px rgba(233, 181, 39, 1);
  box-shadow: 0px 0px 10px 10px rgba(233, 181, 39, 1);
}

ion-label {
  font-size: large !important;
  font-weight: bold;
  text-transform: capitalize;
}

ion-item {
  --min-height: 100px;
  margin: 0;
  border-radius: 10px;
  --background: transparent;
  --inner-padding-start: 0;
  --padding-start: 5px;
  --padding-end: 0;
  --inner-padding-end: 0;
  --border-color: transparent;
  border-radius: 0;
}

.ion-item-div {
  --min-height: 100px;
  margin: 0;
  border-radius: 10px;
  --background: transparent;
  --inner-padding-start: 0;
  --padding-start: 5px;
  --padding-end: 0;
  --inner-padding-end: 0;
  --border-color: transparent;

  ion-label {
    display: block;
    width: 100%;
    text-align: left;
    padding: 10px 0 0 10px;
    text-shadow: 0px 1px 4px black;
  }

  .ion-item-config-icon {
    position: absolute;
    bottom: 0;
    right: 0;
    padding: 10px;
    outline: none;
    font-size: x-large;
  }
}

.ion-list-fixed {
  z-index: 2;
  -webkit-transition: all 0.2s 0s ease-in-out;
  -moz-transition: all 0.2s 0s ease-in-out;
  -o-transition: all 0.2s 0s ease-in-out;
  transition: all 0.2s 0s ease-in-out;
}

.ion-item-fixed {
  --min-height: 80px !important;
  margin-left: 0;
  margin-right: 0;
}

.btn-pushed {
  margin-left: 10px;
}

ion-grid {
  --ion-grid-column-padding: 5px;
}

ion-col {
  // margin: auto;
  -webkit-transition: all 0.5s 0s ease-in-out;
  -moz-transition: all 0.5s 0s ease-in-out;
  -o-transition: all 0.5s 0s ease-in-out;
  transition: all 0.5s 0s ease-in-out;

  div {
    border-radius: 10px;
    height: 100px;
    background-repeat: no-repeat;
    -webkit-transition: all 0.25s 0s ease-in-out;
    -moz-transition: all 0.25s 0s ease-in-out;
    -o-transition: all 0.25s 0s ease-in-out;
    transition: all 0.25s 0s ease-in-out;
    height: 100px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    width: 100%;
    font-weight: bold;
    word-break: break-word;
    border-radius: 11px;

    span {
      text-transform: capitalize;
    }
  }
}

.light-active {
  //box-shadow: 0px 0px 10px 5px #e9b527;
  box-shadow: inset 0px 60px 30px -20px #ffbc00;
}

ion-range {
  padding: 0 15px;
}

ion-checkbox {
  --transition: all 0.35s 0s cubic-bezier(0.22, 0.61, 0, 1);
  --background: rgba(10, 10, 10, 0.35);
  --border-color: transparent;
  --border-color-checked: transparent;
  // margin: 10px 10px 0 0;
  -webkit-shadow-box: 0 4px 5px 0 rgb(0 0 0 / 14%),
    0 1px 10px 0 rgb(0 0 0 / 12%), 0 2px 4px -1px rgb(0 0 0 / 30%);
  box-shadow: 0 4px 5px 0 rgb(0 0 0 / 14%), 0 1px 10px 0 rgb(0 0 0 / 12%),
    0 2px 4px -1px rgb(0 0 0 / 30%);
  --border-width: 0;
}

.ios {
  .ion-list-fixed {
    background-color: rgba(255, 255, 255, 0.2);
  }
  ion-checkbox {
    border-radius: 20px;
    --border-radius: 20px;
    --size: 37px;
  }

  .fav-edit-btn {
    float: right;
    margin: 0;
  }

  .edit-icon {
    stroke-width: 8px;
    --ionicon-stroke-width: 42px;
  }
}

.md {
  .ion-list-fixed {
    background-color: rgb(31 31 31);
    border-top: 1px solid #313131;
  }

  ion-checkbox {
    margin-right: 10px;
    border-radius: 5px;
    --border-radius: 5px;
    --checkmark-width: 2px;
    --size: 33px;
  }

  .fav-edit-btn {
    float: right;
    margin: 0 5px 0 0;
  }
}

.remote-shortcuts {
  height: 100% !important;
  display: flex;
  flex-direction: row !important;
  justify-content: flex-start !important;
  padding-left: 10px;
  padding-bottom: 10px;
  overflow-x: auto;

  ion-button {
    color: rgb(34 36 40);
    --background: transparent;
    margin-bottom: 0;
    height: 35px;
    --background-activated: rgba(221, 221, 221, 0.2);
    -webkit-shadow-box: 0 3px 5px 0 rgb(0 0 0 / 14%),
      0 1px 10px 0 rgb(0 0 0 / 12%), 0 2px 4px -1px rgb(0 0 0 / 30%);
    box-shadow: 0 3px 5px 0 rgb(0 0 0 / 14%), 0 1px 10px 0 rgb(0 0 0 / 12%),
      0 2px 4px -1px rgb(0 0 0 / 30%);
    border-radius: 5px;
    color: white;
    margin-right: 5px;
  }

  ion-icon {
    font-size: 20px;
  }
}
