<ion-header translucent>
  <ion-toolbar>
    <ion-title>Login</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content fullscreen>
  <ion-list lines="full">

    <ion-item detail="false">
      <ion-input type="text" placeholder="Username" class="ion-no-padding input"></ion-input>
    </ion-item>

    <ion-item detail="false">
      <ion-input type="password" placeholder="Password" class="ion-no-padding input"></ion-input>
    </ion-item>
    <section>
      <ion-button expand="block" color="light" (click)="login()">
        Login
      </ion-button>
    </section>
  </ion-list>

</ion-content>