/*
 * App Global CSS
 * ----------------------------------------------------------------------------
 * Put style rules here that you want to apply globally. These styles are for
 * the entire app and not just one component. Additionally, this file can be
 * used as an entry point to import other CSS/Sass files to be included in the
 * output CSS.
 * For more information on global stylesheets, visit the documentation:
 * https://ionicframework.com/docs/layout/global-stylesheets
 */

/* Core CSS required for Ionic components to work properly */
@import "~@ionic/angular/css/core.css";

/* Basic CSS for apps built with Ionic */
@import "~@ionic/angular/css/normalize.css";
@import "~@ionic/angular/css/structure.css";
@import "~@ionic/angular/css/typography.css";
@import "~@ionic/angular/css/display.css";

/* Optional CSS utils that can be commented out */
@import "~@ionic/angular/css/padding.css";
@import "~@ionic/angular/css/float-elements.css";
@import "~@ionic/angular/css/text-alignment.css";
@import "~@ionic/angular/css/text-transformation.css";
@import "~@ionic/angular/css/flex-utils.css";

.full-width {
  width: 100%;
}

.full-height {
  height: 100%;
}

.no-padding {
  padding: 0 !important;
}

.no-margin {
  margin: 0;
}

.btn-round{
  border-radius: 30px;
  --border-radius: 30px;
}

/* SCSS HEX */
$blue-gray: #809bceff;
$mint: #55b493ff;
$naples-yellow: #ffde65ff;
$pale-cerulean: #95b8d1ff;
$fluorescent-blue: #09ece5ff;
$queen-pink: #eac4d5ff;

/* SCSS HSL */
$blue-gray: hsla(219, 44%, 65%, 1);
$mint: hsla(159, 39%, 52%, 1);
$naples-yellow: hsla(47, 100%, 70%, 1);
$pale-cerulean: hsla(205, 39%, 70%, 1);
$fluorescent-blue: hsla(178, 93%, 48%, 1);
$queen-pink: hsla(333, 47%, 84%, 1);

/* SCSS RGB */
$blue-gray: rgba(128, 155, 206, 1);
$mint: rgba(85, 180, 147, 1);
$naples-yellow: rgba(255, 222, 101, 1);
$pale-cerulean: rgba(149, 184, 209, 1);
$fluorescent-blue: rgba(9, 236, 229, 1);
$queen-pink: rgba(234, 196, 213, 1);

/* SCSS Gradient */
$gradient-top: linear-gradient(0deg, #809bceff, #55b493ff, #ffde65ff, #95b8d1ff, #09ece5ff, #eac4d5ff);
$gradient-right: linear-gradient(90deg, #809bceff, #55b493ff, #ffde65ff, #95b8d1ff, #09ece5ff, #eac4d5ff);
$gradient-bottom: linear-gradient(180deg, #809bceff, #55b493ff, #ffde65ff, #95b8d1ff, #09ece5ff, #eac4d5ff);
$gradient-left: linear-gradient(270deg, #809bceff, #55b493ff, #ffde65ff, #95b8d1ff, #09ece5ff, #eac4d5ff);
$gradient-top-right: linear-gradient(45deg, #809bceff, #55b493ff, #ffde65ff, #95b8d1ff, #09ece5ff, #eac4d5ff);
$gradient-bottom-right: linear-gradient(135deg, #809bceff, #55b493ff, #ffde65ff, #95b8d1ff, #09ece5ff, #eac4d5ff);
$gradient-top-left: linear-gradient(225deg, #809bceff, #55b493ff, #ffde65ff, #95b8d1ff, #09ece5ff, #eac4d5ff);
$gradient-bottom-left: linear-gradient(315deg, #809bceff, #55b493ff, #ffde65ff, #95b8d1ff, #09ece5ff, #eac4d5ff);
$gradient-radial: radial-gradient(#809bceff, #55b493ff, #ffde65ff, #95b8d1ff, #09ece5ff, #eac4d5ff);


.remote-ion-popover {
  --height: fit-content;
  --width: fit-content;
  -webkit-transition: all 0.25s 0s ease;
  -moz-transition: all 0.25s 0s ease;
  -o-transition: all 0.25s 0s ease;
  transition: all 0.25s 0s ease;
  --backdrop-opacity: .6;

  backdrop-filter: blur(2px);

  .popover-content{
    // height: fit-content;
    border-radius: 20px;
    transform-origin: center !important;
    top: 50% !important;
    left: 50% !important;
    transform: translate(-50%, -50%) !important;
     background: rgba(128, 128, 128, .8) !important;
     max-height: 95%;
  }
  .popover-arrow{
    display: none;
  }

  // .popover-content{
  //   position: absolute;
  //   top: 50% !important;
  //   left: 50% !important;
  //   height: 80% !important;
  //   width: 80% !important;
  //   transform: translate(-50%, -50%) !important;
  // }
}
